{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
<!--[if lt IE 8]><script type="text/javascript" src="{{ STATIC_URL }}js/adquiridos/ie6-not-supported.js" ></script><![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta name="keywords" content="Materia prima industria alimentica Venezuela granotec tecnoalimentos am2">
<meta name="author" content="duranjo web c.a.">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
{% block head %} {% endblock%}
<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico">
<title>{% block title %} {% endblock%}</title>
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Tenor+Sans' rel='stylesheet' type='text/css'>
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
</head>
<body>
	<!-- Analytics SCRIPT GOOGLE! -->
	<!--<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  //Se debe cambiar esto cuando se haga X página.
	  ga('create', 'UA-*********-1', '*******.com');
	  ga('send', 'pageview');
	</script> -->
	<header id="home" class="cabecera">
		<div class="wrapper">	
		<div class="logo">
			<img src="{% static 'img/logotecnoalimentos.png' %}" alt="Logo Tecnoalimentos am2">
		</div>					
			<nav class="barraNavegacion">
				{% block navi %}
					<ul>
						<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a></li>
						<li class="index"><a href="{% url 'homepageaboutus' %}">Quienes Somos</a></li>
						<li class="products"><a href="{% url 'homepageproducts' %}">Productos y Soluciones</a></li>
						<li class="services"><a href="/blog">Blog</a></li>
						<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a></li>
					</ul>				
			{% endblock %}
			</nav>
		</div>
	</header>
	<section class="contenido">
		{% block contenido %} {% endblock%}
	</section>
	{% block clear %} {% endblock %}
	<footer>
		{% block footer %}{% endblock%}
		<div class="footerarriba">	
			<div class="wrapper">		
				<ul class="menufooter">
					<li><a href="{% url 'homepageindex' %}">Inicio</a></li>
					<li><a href="{% url 'homepageaboutus' %}">Quienes Somos</a></li>
					<li><a href="{% url 'homepageproducts' %}">Productos y Soluciones</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="{% url 'homapagecontact' %}">Contacto</a></li>
				</ul>
			</div>	
		</div>
		<div class="wrapper">	
			<div class="footermedio">	
					<div class="columna">
						<div class="telefono">+58-424 6441619  / +58-261 3260622</div>
						<div class="email">info@tecnoalimentosam2.com</div>
						<div class="direccion">Maracaibo, Edo. Zulia. Venezuela.</div>
					</div>				
					<div class="columna logofooter">
						<img src="{% static 'img/logotecnoalimentos.png' %}" alt="Logo Tecnoalimentos am2">
					</div>		
				<div class="columna redes">
					<a href="https://twitter.com/"><div class="twitterlogo"></div></a>
					<a href="https://www.facebook.com/"><div class="facebook"></div></a>
					<a href="#"><div class="googleplus"></div></a>
					<a href="http://www.linkedin.com/"><div class="linkedin"></div></a>
					<p>J-31230199-6</p>
				</div>								
			</div>	
			<div class="copyright">
				Tecnoalimentos AM2 © Copyright 2014. Todos los derechos reservados. Developed by: <a href="http://duranjo.com/" rel="nofollow"><img src="http://duranjo.com/static/img/logoduranjo.png" alt="Logo empresa duranjo"/></a>
			</div>

		</div>	  
	</footer>
</body>
</html>