.portada{
	width: 100%;
	height: 348px;
}

/*titulo inicio*/
.icono{
	display: inline-block;
	width: 60px;
	height: 38px;
	background: url(../../img/icono.png);
}
.titulo2 {
	text-align: center;
}
.titulo2 h2{
	display: inline-block;
}

.quienessomos{
	background: url(../../img/textura.jpg);
	padding-bottom: 50px;
}
.izquierda, .derecha{
	display: inline-block;
	vertical-align: top;
}
.mision, .vision, .valores{
	display: inline-block;
	background-color: #FFF;
	width: 97.5%;
	height: 210px;
}
.mision .izquierda, .vision .derecha, .valores .izquierda{
	width: 28%;
}
.mision .derecha, .vision .izquierda, .valores .derecha{
	width: 70%;
}

.izquierda img, .derecha img{
	margin-top: -46px;
}
.cuadroverde{
	display: inline-block;
	width: 100%;
	margin-top: 60px;
	text-align: center;
	height: 220px;
	padding-top: 10px;
	border: solid 1px #19A851;
}
.primero{
	margin-top: 77px !important;
}
.mision p, .vision p, .valores p{
	padding: 0 55px;
	text-align: justify;
	line-height: 27px;
	margin-top: 50px;
}
.lineaverde{
	display: inline-block;
	width: 157px;
	height: 13px;
	background-color: #19A851;
	margin-top: 6px;
}
.valoreslist{
	margin-top: 20px;
}
.valoreslist li{
	width: auto;
	float: left;
	list-style-type: square;
	margin-right: 2px;
	margin-left: 34px;
	color: #19A851;
}
.valoreslist li span{
	color: #000;
}

@media screen and (max-width: 1000px){
	.cuadroverde{
		width: 98%;
		margin-left: 1%;
	}
	.cuadroverde{
		height: auto; 
		padding-bottom: 11px;
	}
	.mision, .vision, .valores{
		height: auto;
	}
	.lineaverde{
		width: 89%;
	}
	.izquierda img, .derecha img {
		width: 98%;
	}

}
@media screen and (max-width: 420px){
	.mision .derecha, .vision .izquierda, .valores .derecha{
		width: 96%;
	}
	.mision .izquierda, .vision .derecha, .valores .izquierda{
		width: 50%;
	}
	.izquierda img, .derecha img{
		margin: 0;
	}

}