@charset 'utf-8';
html, body{
	margin: 0;
	height: 100%;
	background: white;
	color: black;
	font-family: 'Noto Sans', sans-serif;
}

h2{
	color: #686969;
}


.logo{
	width: 25%;
	float: left;
	text-align: right;
	padding: 1%;
	height: 100px;
}
.logo img{
	width: 250px;
}
.wrapper{
	width: 960px;
	height: 100%;
	margin: 0 auto 0 auto;
}
/* Encabezado */
.cabecera{
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	height: 117px;
	position: absolute;
	z-index: 2;
}
nav{
	float: left;
	width: 71%;
	vertical-align: top;
	height: 100px;
	padding: 1%;
}
nav select {
  display: none;
}
nav > ul{
	padding: 0;
	margin: 0;
	margin-top: 30px;
}
nav li{
	display: inline-block;
	margin-right: 22px;
	margin-left: 22px;
	text-align: center;
	font-size: 1em;
}
nav a{
	text-decoration: none;
	color: #000;
}

/* Fin Encabezado */



/* Footer */

.menufooter li{
	display: inline-block;
	margin-right: 46px;
	margin-left: 46px;
	text-align: center;
	font-size: 1em;
	vertical-align: top;
}
.menufooter a{
	text-decoration: none;
	color: #FFF;
}
.footerarriba{
	margin-top: -16px;
	background-color: green;
	width: 100%;
	height: 36px;
	line-height: 36px;
}
.columna{
	display: inline-block;
	width: 33%;
	vertical-align: top;
	margin-top: 20px;
	text-align: center;
}

.logofooter img{
	width: 260px;
}
.copyright{
	width: 100%;
	text-align: center;
}
.twitterlogo, .facebook, .googleplus,.linkedin{
	background: url(../img/redesiconos.png) no-repeat;
	display: inline-block;
	height: 32px;
	width: 28px;	
	background-size: 130px;
}
.twitterlogo{
	background-position: 0;
}
.facebook{
	background-position: -28px -2px;
}
.googleplus{
	background-position: -56px 0;
	width: 34px;
}
.linkedin{
	background-position: -92px 0;
	width: 34px;
}

.columna .telefono, .columna .email{
	font-size: 1.2em;
}
.columna .direccion{
	font-size: 0.7em;
}
.copyright img{
	max-width: 66px;
}
@media screen and (max-width: 1000px){
	.wrapper{
		width: 100%;
	}
	.logo{
		width: 98%;
		text-align: center;
	}
	.cabecera{
		height: auto;
	}
	nav{
	width: 98%;
	text-align: center;
	height: 72px;
	}
	.footerarriba{
		height: auto;
	}
	.menufooter li{
		width: 19%;
	}
	.menufooter ul{
		padding: 0;
	}
}
@media screen and (max-width: 700px){
	.menufooter li{
		margin: inherit;
		width: 100%;
	}

	.flexslider{
		position: inherit !important;
	}
	.cabecera{
		position: inherit;
	}
	.portada{
		max-width: 100%;
		height: auto;
	}

	nav > ul{
		margin-top: 0;
	}
	nav li{
		margin: 0;
		width: 45%;
		padding: 8px;
		margin-bottom: 11px;
		border: solid 1px #F0F0F0;		
	}
	nav{
		height: auto;
		text-align: left;
		float: inherit;
	}
	.services{
		display: none;
	}
}
@media screen and (max-width: 550px){
	.columna{
		width: 100%;
	}

}
@media screen and (max-width: 450px){
	nav ul{
		width: 98%;
	}
	nav li{
		width: 94%;
		margin-bottom: 1px;
		padding: 0;
	}
	nav li a{
		display: block;
		width: 100%;
		background-color: #19A851;
		padding: 30px 12px;
	}
	nav a{
		color: #FFF;
	}
}